.navbar {
    display: flex;
    box-shadow: 0 10px 7px -7px lightgray;
    background-color: black;
}

<<<<<<< HEAD
.card .card-header {
    border-bottom: 1px solid lightgray;
    display: flex;
    justify-content: flex-end;
    padding: 5px 20px;
}

.card .card-header .card-header-title {
    font-size: 32px;
    text-transform: uppercase;
=======
.navbar > .nav-left,
.navbar > .nav-right {
    padding: 10px 20px;
>>>>>>> master
}

.navbar > .nav-left {
    margin-right: auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.navbar > .nav-right {
    margin-left: auto;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.navbar > .nav-left > .brand {
    font-size: 24px;
    font-weight: bold;
    color: white;
    text-transform: uppercase;
}